
// colors
$color_primary: #0282F9;
$color_primary_hover: #2079cc;
$color_light: white;
$color_grey: #959599;
$color_dark_grey: #464657;
$color_bg_dark: #303030;
$color_dark: black;

// padding

$padding_xsmall: 10px;
$padding_small: 15px;
$padding_medium: 20px;
$padding_large: 25px;
$padding_xlarge: 40px;
$padding_xxlarge: 50px;





